services:
    marketplace:
        build:
            context: .
            dockerfile: Marketplace/Dockerfile
        networks:
            - default
            - marketplace-network
        ports:
            - "8080:8080"
        environment:
            - ASPNETCORE_URLS=http://+:8080
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__Default=Server=marketplace-db;Database=marketplace;User Id=sa;Password=Marketplace@123;TrustServerCertificate=True;
            - Rabbit__Host=rabbitmq
            - Rabbit__Port=5672
            - Rabbit__User=rabbit
            - Rabbit__Pass=rabbit_pw
        depends_on:
            - marketplace-db
            - rabbitmq

    gateway:
        build:
            context: .
            dockerfile: Gateway/Dockerfile
        networks:
            - default
        ports:
            - "8085:8085"
        environment:
            - ASPNETCORE_URLS=http://+:8085
            - ASPNETCORE_ENVIRONMENT=Development

    search:
        build:
            context: .
            dockerfile: Search/Dockerfile
        networks:
            - default
            - search-network
        ports:
            - "8083:8083"
        environment:
            - ASPNETCORE_URLS=http://+:8083
            - ASPNETCORE_ENVIRONMENT=Development
            - ElasticSearch__Uri=http://search-db:9201
        depends_on:
            - search-db
    inventory:
        build:
            context: .
            dockerfile: Inventory/Dockerfile
        networks:
            - default
            - inventory-network
        ports:
            - "8081:8081"
        environment:
            - ASPNETCORE_URLS=http://+:8081
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__Default=Server=inventory-db;Database=inventory;User Id=sa;Password=Inventory@123;TrustServerCertificate=True;
            - Rabbit__Host=rabbitmq
            - Rabbit__Port=5672
            - Rabbit__User=rabbit
            - Rabbit__Pass=rabbit_pw
        depends_on:
            - inventory-db
            - rabbitmq

    billing:
        build:
            context: .
            dockerfile: Billing/Dockerfile
        networks:
            - default
            - billing-network
        ports:
            - "8082:8082"
        environment:
            - ASPNETCORE_URLS=http://+:8082
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__Default=Server=billing-db;Database=billing;User Id=sa;Password=Billing@123;TrustServerCertificate=True;
        depends_on:
            - billing-db

    marketplace-db:
        image: mcr.microsoft.com/mssql/server:2019-latest
        container_name: marketplace-db
        restart: unless-stopped
        environment:
            ACCEPT_EULA: "Y"
            MSSQL_SA_PASSWORD: "Marketplace@123"
        networks:
            - default
            - marketplace-network
        ports:
            - "14333:1433"
        volumes:
            - marketplace_sql_data:/var/opt/mssql

    billing-db:
        image: mcr.microsoft.com/mssql/server:2019-latest
        container_name: billing-db
        restart: unless-stopped
        environment:
            ACCEPT_EULA: "Y"
            MSSQL_SA_PASSWORD: "Billing@123"
            MSSQL_PID: "Developer"
        networks:
            - default
            - billing-network
        ports:
            - "14334:1433"
        volumes:
            - billing_sql_data:/var/opt/mssql

    inventory-db:
        image: mcr.microsoft.com/mssql/server:2019-latest
        container_name: inventory-db
        restart: unless-stopped
        environment:
            ACCEPT_EULA: "Y"
            MSSQL_SA_PASSWORD: "Inventory@123"
        networks:
            - default
            - inventory-network
        ports:
            - "14335:1433"
        volumes:
            - inventory_sql_data:/var/opt/mssql

    search-db:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
        container_name: search-db
        restart: unless-stopped
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
        networks:
            - default
            - search-network
        ports:
            - "9201:9201"
        volumes:
            - search_data:/usr/share/elasticsearch/data

    filebeat:
        image: docker.elastic.co/beats/filebeat:8.15.0
        container_name: filebeat
        user: root
        depends_on:
            - elasticsearch
        networks:
            - default
        volumes:
            - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
            - /var/lib/docker/containers:/var/lib/docker/containers:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - filebeat_data:/usr/share/filebeat/data
        command: [ "filebeat", "-e", "-strict.perms=false" ]

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
        ports:
            - "9200:9200"
        volumes:
            - elastic_data:/usr/share/elasticsearch/data
        networks:
            - default

    kibana:
        image: docker.elastic.co/kibana/kibana:8.15.0
        container_name: kibana
        environment:
            - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        ports:
            - "5601:5601"
        depends_on:
            - elasticsearch
        networks:
            - default

    rabbitmq:
        image: rabbitmq:3.13-management
        container_name: rabbitmq
        ports:
            - "5672:5672"     # AMQP
            - "15672:15672"   # Management UI
        environment:
            RABBITMQ_DEFAULT_USER: rabbit
            RABBITMQ_DEFAULT_PASS: rabbit_pw
        networks:
            - default
        restart: unless-stopped


volumes:
    marketplace_sql_data:
    billing_sql_data:
    inventory_sql_data:
    search_data:
    elastic_data:
    filebeat_data:

networks:
    marketplace-network:
    inventory-network:
    billing-network:
    search-network:
    default:
