services:
    marketplace:
        build:
            context: .
            dockerfile: Marketplace/Dockerfile
        networks:
            - default
            - shared-marketplace-network
        ports:
            - "8080:8080"
        environment:
            - ConnectionStrings__Default=Server=shared-db;Database=MarketplaceDb;User Id=sa;Password=Shared@123!;TrustServerCertificate=True;
            - Db__Schema=marketplace
            - ASPNETCORE_URLS=http://+:8080
            - ASPNETCORE_ENVIRONMENT=Development
        depends_on:
            - shared-db
            - rabbitmq

    gateway:
        build:
            context: .
            dockerfile: Gateway/Dockerfile
        networks:
            - default
        ports:
            - "8085:8085"
        environment:
            - ASPNETCORE_URLS=http://+:8085
            - ASPNETCORE_ENVIRONMENT=Development
        depends_on:
            - rabbitmq
    search:
        build:
            context: .
            dockerfile: Search/Dockerfile
        networks:
            - default
            - search-network
        ports:
            - "8083:8083"
        environment:
            - ASPNETCORE_URLS=http://+:8083
            - ASPNETCORE_ENVIRONMENT=Development
            - ElasticSearch__Uri=http://localhost:9201
        depends_on:
            - elasticsearch
            - rabbitmq
    inventory:
        build:
            context: .
            dockerfile: Inventory/Dockerfile
        networks:
            - default
            - shared-inventory-network
        ports:
            - "8081:8081"
        environment:
            - ConnectionStrings__Default=Server=shared-db;Database=InventoryDb;User Id=sa;Password=Shared@123!;TrustServerCertificate=True;
            - Db__Schema=inventory
            - ASPNETCORE_URLS=http://+:8081
            - ASPNETCORE_ENVIRONMENT=Development
        depends_on:
            - shared-db
            - rabbitmq

    shared-db:
        image: mcr.microsoft.com/mssql/server:2019-latest
        container_name: shared-db
        restart: unless-stopped
        environment:
            ACCEPT_EULA: "Y"
            MSSQL_SA_PASSWORD: "Shared@123!"
        networks:
            - default
            - shared-marketplace-network
            - shared-inventory-network
        ports:
            - "14333:1433"
        volumes:
            - shared_sql_data:/var/opt/mssql

    filebeat:
        image: docker.elastic.co/beats/filebeat:8.15.0
        container_name: filebeat
        user: root
        depends_on:
            - elasticsearch
        networks:
            - default
        volumes:
            - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
            - /var/lib/docker/containers:/var/lib/docker/containers:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - filebeat_data:/usr/share/filebeat/data
        command: [ "filebeat", "-e", "-strict.perms=false" ]

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
        container_name: elasticsearch
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
        ports:
            - "9200:9200"
        volumes:
            - elastic_data:/usr/share/elasticsearch/data
        networks:
            - default

    kibana:
        image: docker.elastic.co/kibana/kibana:8.15.0
        container_name: kibana
        environment:
            - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        ports:
            - "5601:5601"
        depends_on:
            - elasticsearch
        networks:
            - default

    rabbitmq:
        image: rabbitmq:3.13-management
        container_name: rabbitmq
        ports:
            - "5672:5672"     # AMQP
            - "15672:15672"   # Management UI
        environment:
            RABBITMQ_DEFAULT_USER: rabbit
            RABBITMQ_DEFAULT_PASS: rabbit_pw
        networks:
            - default
        restart: unless-stopped


volumes:
    shared_sql_data:
    search_data:
    elastic_data:
    filebeat_data:

networks:
    shared-marketplace-network:
    shared-inventory-network:
    search-network:
    default:
